* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bg-gradient: linear-gradient(
        hsl(273, 75%, 66%),
        hsl(240, 73%, 65%)
        );
    --divider: hsl(240, 5%, 91%);
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

body {
    background-image: var(--bg-gradient);
}

.faq-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 320px;
    height: auto;
    margin: 170px auto 80px;
    background-color: white;
    border-radius: 20px;
}

.faq-card__decoration-container {
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 150px
}

.decoration__shadow {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 270px;
    height: auto;
    object-fit: contain;
    object-position: center;
    
}

.decoration__solid {
    position: absolute;
    left: calc(50% - 165px);
    top: -125px;
    width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.questions {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    padding-bottom: 25px;
}

.questions__title {
    margin-bottom: 14px;
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.2rem
}

.questions__item {
    font-size: 1.3rem;
    list-style: none;
    border-bottom: 2px solid var(--divider);
    padding-bottom: 14px;
    padding-top: 14px;
    cursor: pointer;
}

.questions__item:hover .question__title {
    color: hsl(14, 88%, 65%);
}

.question__title {
    position: relative;
}

.question__title span {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../images/icon-arrow-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.question__answear {
    line-height: 1.8rem;
    margin-top: 10px;
}

.close {
    display: none;
}

.open {
    display: block;
}


.attribution { font-size: 11px; text-align: center; margin-bottom: 100px;}
.attribution a { color: hsl(228, 45%, 44%); }